.carousel{
    border: 2px solid green;
    width: 70%;
    margin: auto;
}
.container{
    border: 2px solid red;
    width: 100%;
    height: 400px;
    margin: auto;
    
}

.container img{
    
    height: 200px;
   border: 2px solid blue;
}
