.slider{
    /* border: 2px solid red; */
    border: 1px solid lightgrey;
    width: 79%;
    margin: auto;
}

  
  @media screen and (min-width: 390px) {
    .slider {
      margin-top: 100px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .slider {
      margin-top: 0px;
    }
  }
  